

.flashcard-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}

.worksheet-problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;

}

.worksheet-problem-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.body-background {
    background-repeat: no-repeat;
    background-image: url("https://cdn.discordapp.com/attachments/915276863272800297/1094647315274399764/image.png");
    background-size: cover;
    opacity: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.about-background {
    background-repeat: no-repeat;
    background-image: url("https://cdn.discordapp.com/attachments/915276863272800297/1094657008772337684/image.png");
    background-size: cover;
    opacity: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.flashcards-background {
    background-repeat: no-repeat;
    background-image: url("https://cdn.discordapp.com/attachments/915276863272800297/1094656275209531452/image.png");
    background-size: cover;
    opacity: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.worksheets-background {
    background-repeat: no-repeat;
    background-image: url("https://cdn.discordapp.com/attachments/915276863272800297/1094656725543563264/image.png");
    background-size: cover;
    opacity: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;

}

.white-text {
    color: #f5f5f5
}